section.sec-header-index {
  position: relative;
  padding: 100px 0px;
  background: linear-gradient(100deg, #76b446, #138145);

  .pad-left-0 {
    padding-left: 0px;
  }

  .header-video {
    overflow: hidden;
    border-radius: 10px;
    height: 303px;

    video {
      outline: none !important;
    }
  }

  .left-header-content {
    position: relative;

    .content {
      position: relative;

      h1 {
        color: #fff;
        font-family: nb;
        font-size: 44pt;
        line-height: 48px;
        margin-bottom: 14px;
      }

      p {
        color: #fff;
        font-family: nl;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 23px;
      }
    }

    .top-header-search {
      position: relative;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
      padding-right: 150px;
      width: 85%;

      & > .btn {
        background-color: #4a9d47;
        color: #fff;
        font-family: "nm";
        padding: 12px 15px;
        border-radius: 8px;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .main-search {
        position: relative;
        background-color: #003399;
        padding: 0px 0px 0px 48px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #003399;

        img {
          position: absolute;
          left: 11px;
          top: 4px;
          width: 23px;
        }

        .form-control {
          height: 46px;
          border-radius: 8px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border: 0px;
          box-shadow: 0 0 0 0;
          font-family: nm;
          color: #000;
          font-size: 20px;
          text-transform: uppercase;

          &::placeholder {
            color: #969696;
            font-size: 18px;
          }
        }
      }
    }
  }
}

section.sec-third {
  position: relative;
  padding: 30px 0px;
  border-bottom: 1px solid #cacaca;

  .main-content {
    position: relative;

    .content {
      position: relative;

      h3 {
        position: relative;
        font-size: 28px;
        text-align: center;
        line-height: 38px;
      }

      .flex-main {
        padding-left: 21px;
        padding-right: 21px;

        .content-inner {
          position: relative;
          font-size: 34px;
          font-family: "nb";
          text-align: center;
          letter-spacing: 0.08px;

          i {
            font-size: 20px;
          }

          &.color1 {
            color: #88bd46;
          }

          &.color2 {
            color: #4a9d47;
          }

          &.color3 {
            color: #007744;
          }
        }
      }
    }
  }
}

section.sec-sell-your {
  position: relative;
  padding: 100px 0px;

  .heading-main {
    position: relative;
    text-align: center;
    margin-bottom: 70px;

    h2 {
      font-family: nb;
      color: #000;
      letter-spacing: 0.08px;
    }
  }

  .grid-main {
    position: relative;
    padding-left: 105px;

    &.first-img {
      padding-left: 102px;
      img {
        width: 80px;
      }
    }

    img {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 90px;
    }

    h4 {
      position: relative;
      font-family: "nb";
      line-height: 19px;
      color: #2c2c2c;
      letter-spacing: 0.08px;
    }

    p {
      position: relative;
      color: #646464;
      font-size: 18px;
      line-height: 21px;
      width: 85%;
    }
  }
}

section.sec-big-img {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;

  .big-img-main {
    position: relative;
    padding-left: 610px;
    min-height: 88vh;

    & > img {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 705px;
      height: 100%;
    }

    .right-content {
      position: relative;
      min-height: 88vh;
      display: flex;
      align-items: center;

      .heading-main {
        position: relative;
        margin-bottom: 70px;

        h2 {
          font-family: nb;
          color: #000;
          letter-spacing: 0.08px;
        }
      }

      .grid-main {
        position: relative;
        padding-left: 75px;
        margin-bottom: 70px;

        &.mb {
          margin-bottom: 0px !important;
        }

        &.truck-icon {
          padding-left: 80px;

          img {
            width: 65px;
          }
        }

        &.Instant {
          padding-left: 80px;

          img {
            width: 62px;
          }
        }

        img {
          position: absolute;
          left: 0px;
          top: 1px;
          width: 55px;
        }

        h4 {
          position: relative;
          font-family: "nb";
          color: #2c2c2c;
          font-size: 20px;
          font-size: 24px;
          letter-spacing: 0.08px;
          line-height: 19px;
        }

        p {
          position: relative;
          color: #2c2c2c;
          font-size: 15px;
          line-height: 20px;
          width: 92%;
        }
      }
    }
  }
}

section.sec-purchase {
  position: relative;
  padding: 100px 0px;

  .heading-main {
    position: relative;
    margin-bottom: 70px;
    text-align: center;
    letter-spacing: 0.08px;

    h2 {
      font-family: nb;
      color: #000;
    }

    p {
      color: #2c2c2c;
      width: 73%;
      margin: auto;
    }
  }

  .collpase-for-all {
    position: relative;
    top: -28px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 12px 0px #00000021;

    h3 {
      font-family: nb;
      font-size: 18px;
      margin-bottom: 0px;
      border-bottom: 1px solid #cacaca;
      padding-bottom: 20px;
      letter-spacing: 0.08px;
    }

    p {
      margin-top: 10px;
    }
  }

  .icons {
    position: relative;
    text-align: center;
    margin-bottom: 50px;

    img {
      position: relative;
      width: 70px;
      margin-bottom: 10px;
      height: 70px;
      object-fit: contain;
    }

    label {
      position: relative;
      font-family: nb;
      display: block;
      font-size: 20px;
      letter-spacing: 0.08px;
      color: #2c2c2c;
      width: 93%;
      margin: auto;
      line-height: 24px;
    }
  }
}

section.sec-blogs {
  position: relative;
  background-color: #f5f5f5;
  padding: 150px 0px 100px 0px;

  .heading-main {
    position: relative;
    margin-bottom: 70px;
    text-align: center;

    h2 {
      font-family: nb;
      color: #000;
    }
  }

  .main-blog {
    position: relative;
    margin-bottom: 50px;

    img {
      margin-bottom: 30px;
      width: 100%;
      height: 145px;
      object-fit: cover;
    }

    h3 {
      position: relative;
      color: #2c2c2c;
      font-family: nb;
      font-size: 24px;
    }

    p {
      position: relative;
      color: #2c2c2c;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

section.sec-clients {
  padding: 100px 100px;

  .heading-main {
    position: relative;
    margin-bottom: 70px;
    text-align: center;

    h2 {
      font-family: nb;
      color: #000;
    }
  }

  .main-clients-slider {
    position: relative;

    a.uk-position-center-left {
      // left: -70px !important;
      visibility: visible !important;
      display: block !important;
      margin: 0px;
    }

    a.uk-position-center-right {
      // right: -70px !important;
      visibility: visible !important;
      display: block !important;
      margin: 0px;
    }

    li {
      min-height: 300px;
      padding-bottom: 1px;
    }

    .main-clients {
      position: relative;
      color: #2c2c2c;
      border: 1px solid #c8c8c8;
      border-radius: 15px;
      padding: 45px 20px 30px 20px;

      .content {
        text-align: center;
        margin-bottom: 40px;

        p {
          color: #646464;
          font-size: 14px;
          width: 80%;
          margin: auto;
        }
        h3 {
          color: #000;
          font-family: "nm";
          line-height: 25px;
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
      .clientImg {
        position: relative;
        min-height: 100px;
        padding-top: 8px;
        text-align: center;

        .aligment-main {
          display: inline-block;
          position: relative;
          padding-left: 95px;
          text-align: left;
        }

        img {
          position: absolute;
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
          left: 0px;
          top: 0px;
        }

        & > span {
          font-size: 12px;
          color: #646464;
        }

        h4 {
          color: #646464;
          margin: 0px;
          font-size: 16px;
          margin-bottom: 6px;
          margin-top: 5px;
          font-family: "nm";
        }

        .rating {
          margin-bottom: 5px;
          line-height: 14px;

          i,
          span {
            display: inline-block;
            color: #f8a51b;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.sec-grid-images {
  position: relative;
  padding: 50px 0px 0px 0px;

  .heading-main {
    position: relative;
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-family: nb;
      color: #000;
    }
  }

  @gridWidth: calc(100% / 6);

  .grid-images-main {
    li {
      padding-left: 0px !important;
    }
    .child-grid {
      position: relative;

      a::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #00000017;
        transition: 0.4s ease-in;
      }

      a:hover {
        &::after {
          background-color: transparent;
        }
      }
      a {
        display: block;
      }
      img {
        width: 100%;
        // height: 260px;
        // object-fit: cover;
      }
    }
  }
}
